@font-face {
    font-family: 'hp_simplifiedregular';
    src: url('../fonts/hp_simplified_regular-webfont.eot');
    src: url('../fonts/hp_simplified_regular-webfontd41dd41dd41dd41dd41dd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hp_simplified_regular-webfont.html') format('woff2'),
         url('../fonts/hp_simplified_regular-webfont.woff') format('woff'),
         url('../fonts/hp_simplified_regular-webfont.ttf') format('truetype'),
         url('../fonts/hp_simplified_regular-webfont.svg#hp_simplifiedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hp_simplified_lightregular';
    src: url('../fonts/hp_simplified_light-webfont.eot');
    src: url('../fonts/hp_simplified_light-webfontd41dd41dd41dd41dd41dd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hp_simplified_light-webfont.html') format('woff2'),
         url('../fonts/hp_simplified_light-webfont.woff') format('woff'),
         url('../fonts/hp_simplified_light-webfont.ttf') format('truetype'),
         url('../fonts/hp_simplified_light-webfont.svg#hp_simplified_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*
1. General
**********************************************************************/
 body {
    font-family: 'hp_simplifiedregular';
    color: #FFF;
    line-height:1.2em;
    font-size:17px;
    line-height:20px;
    background-color:#d5ebf2 !important;
}

a {
    color:#181A1C;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
        color: black;
}
h1 {
    margin: 10px;
}
p {
    padding: 10px;
    font-weight: 100;
    color: #fff;
}
.navbar {
    background: #0096d6;
    margin-bottom:0;
    min-height:70px;
}

.navbar-fixed-top {
    min-height:60px;
    height:60px;
    padding-top:0;
}
.navbar-inner {
    background: #0096d6;
    border-radius:0;
    filter: none;
    border: none;
    box-shadow: none;
}
.navbar .brand img {
    width:auto;
    height:auto;
}
.navbar .nav > li > a {
    box-shadow: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin: 20px 0;
    text-shadow: none;
    text-transform: none;
    transition: border-color 1s ease 0s;
    vertical-align: middle;
}
.navbar .nav > li:hover > a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
    color: #b6e9ff;
    transition: border-color 1s ease 0s;
}
.nav-pills {
    margin-bottom: 30px;
}
.nav-pills > li > a {
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-right:5px;
    padding-left:25px;
    padding-right:25px;
    border: 1px solid #181A1C;
}
.nav-pills > li > a:hover, .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background: #181A1C;
    color: #fff;
}
.navbar .btn-navbar:hover, .navbar .btn-navbar {
    border-radius:0;
    background:#FECE1A;
    color: #000;
}
/******
2. Layout
**********************************************************************/
.centered {
    margin-left:auto;
    margin-right:auto;
    float: none;
    text-align: center;
}
/* Use this class if you want ceter element with span* class */
 .center {
    float: none !important;
    margin: 0 auto !important;
    text-align: center;
}
.highlighted-box {
    background:#F4F8F9;
    padding:20px 30px;
}
.highlighted-box h1 {
    margin:0px;
}
.large-text {
    line-height:1.2em;
    font-size: 30px;
    color: #181A1C;
    padding:20px;
    margin-bottom:20px;
}
.highlighted-box h1, .highlighted-box p {
    color: #181a1c !important;
    font-family: "hp_simplified_lightregular";
    line-height: 28px;
    padding: 20px 0 0;
    text-align: justify;
}
.circle-border {
    display: inline-block;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    -khtml-border-radius: 500px;
    border: 3px solid #fff;
}
.left-align {
    text-align:left;
}
.right-align {
    text-align:left;
}
.error {
    color: #CF0000;
    display: none;
}
.invisible {
    display:none;
    visibility:visible;
}
.triangle {
    margin: 0 auto;
    text-align:center;
    width: 0;
    height: 0;
    border-top: 30px solid #0096d6;
    border-left: 585px outset transparent;
    border-right: 585px outset transparent;
    position: relative;
}
/*
2.1 Animations
**********/
 .zoom-in {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease;
}
.zoom-in:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}
/*
2.2 Buttons - There are buttons on a transparent background, primary and secondary color background.
**********/
 .button, .button:visited, .button:focus {
    background-color: transparent;
    border: 1px solid #181a1c;
    color: #181a1c;
    display: inline-block;
    font-size: 20px;
    margin-top: 15px;
    padding: 5px 10px;
}
.button:hover, .button:active{
    background-color:#181A1C;
    color:#fff;
}
form {
    margin: 0;
}
.button-sp, .button-sp:visited, .button-sp:focus {
    background-color: #fff;
    border: medium none;
    color: #0096d6;
}
input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
    border-color: #fff;
    color: #000;
}
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    border-color: #fff;
    box-shadow: 0 0 6px #fff;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 0;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-top: 25px;
    padding: 4px 6px;
    vertical-align: middle;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #ffffff;
    border: 1px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.button-sp:hover, .button-sp:active {
    background-color:#000;
    color:#fff; border: 2px solid #000;
}
.button-ps, .button-ps:visited, .button-ps:focus {
    border:none;
    background-color:#181A1C;
    color:#FECE1A;
}
.button-ps:hover, .button-ps:active {
    background-color:#FECE1A;
    color:#181A1C;
}
/*
2.3 Thumbnails - Predefined bootstrap's thumbnail class.
**********/
 .thumbnail {
    width:100%;
    height:100%;
    padding:0;
    overflow: hidden;
    position: relative;
    border:0;
    border-radius:0;
    box-shadow:none;
    text-align:center;
    background: #191a1c;
}
.thumbnail .more {
    display:block;
    z-index:4;
    position:absolute;
    top:-100px;
    left:50%;
    margin:0 auto;
    margin-left:-41px;
    width:80px;
    height:80px;
    font-size:40px;
    color:#fff;
    text-decoration:none;
    line-height: 70px;
    text-align: center;
}
.thumbnail:hover .more {
    top:40%;
    margin-top:-40px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3 s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.thumbnail h3, 
.thumbnail p {
    margin:0;
    padding:0;
    position:relative;
    z-index:4;
}
.thumbnail h3 {
    color: #FECE1A;
    margin-top:10px;
    font-size:20px;
}
.thumbnail > p {
    padding-bottom:20px;
}
.thumbnail .mask {
    opacity:0.85;
    filter: alpha(opacity=85);
    top:100%;
    left:0;
    width:100%;
    height:100%;
    background:#181A1C;
    position:absolute;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2 s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.thumbnail:hover .mask {
    top:0;
}
/*
2.4 Socail icons
************/
 .social {
    list-style: none;
    float: none;
    position:relative;
    margin:5px; auto;
}
.social li {
    display:inline-block;
    line-height: 32px;
    font-family:'Porta';
    font-size: 32px;
    padding:0 5px;
}
.social li a {
    margin:0;
    padding:0;
    width:32px;
    height:32px;
    color: #FECE1A;
}
.social li a:hover {
    color:#181A1C;
}
/*
3. Sections 
***************************************************************************/
 .section {
    padding-bottom: 50px;
}
.section .container {
    padding-top:50px;
}
.section .title {
    text-align: center;
    padding:10px;
    margin-bottom: 0px;
}
.section .title h1 {
    font-weight: normal;
    margin-bottom: 20px;
    padding: 0;
}
.section .title > p {
    font-size: 20px;
    color: #FFF;
    font-weight: lighter;
}
.primary-section {
    background:rgba(0, 0, 0, 0) url("../images/bg-1.jpg") repeat scroll 0 0;
}
.primary-section .triangle {
    border-top: 40px solid #e9f7ff;
}
.primary-section .title {
    border-bottom: 1px solid #FFF;
}
.primary-section, .primary-section .title p, .primary-section h3 {
    color: #0096d6;
}
.primary-section h1 {
    color:#FFF;
}

.secondary-section {
    background: #0397d6 none repeat scroll 0 0;
}
.secondary-section2 {
    background: rgba(0, 0, 0, 1) url("../images/bg-2.jpg") repeat scroll 10px 111px;
}

.secondary-section .title {
    border-bottom:0px;
}
.secondary-section h1, .secondary-section .title p {
    color: #181A1C;
}
/* Third section use bacground image */
.third-section {
    padding-bottom: 70px;
    background: #e9f8ff url(../images/brand-bg.jpg) no-repeat center;
    border-top:6px solid #0397d6;
}
.third-section .container {
    padding-top:20px;
    position:relative;
}
.third-section .title {
    border-bottom: 1px solid #A1AAB7;
    color: #FECE1A;
}
.sub-section {
    margin-top:30px;
}
.sub-section .title {
    padding:0;
}
/*******
3.1 Services  
***************************************/
.service{
    margin-top:20px;
}
 .service, .service h2 {
    padding-top:15px;
}
.service p {
    padding:0px 50px;
    height:60px;
}
.service img {
    width:150px;
    height:150px;
}
/*
3.2 Portfolio
***************************************/
 .single-project {
    margin-bottom:30px;
    background:#181A1C;
}
.single-project img {
    width:100%;
}
.project-description {
    padding-right:20px;
}
.project-description p {
    padding-left:0;
}
.project-title {
    margin-top:15px;
    margin-bottom:15px;
    border-bottom:1px solid #FECE1A;
}
.project-title h3 {
    float:left;
    margin-top:0;
    padding:0;
    width:80%;
}
.project-title .close {
    color: #FECE1A;
    margin-top:10px;
}
.project-info span, .project-title h3 {
    color:#FECE1A;
}
.project-info {
    font-weight:100;
    padding:10px 0;
}
.project-info span {
    width: 80px;
    display: inline-block;
}
.project-info div {
    margin-bottom:5px;
}
.close {
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
}
#portfolio-grid .mix {
    opacity: 0;
    display: none;
}
/*
3.3 About
******************************************************************/
 .team .thumbnail {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border: 1px solid #fff;
}
.team .thumbnail:hover .social {
    z-index: 5;
}
.team .thumbnail:hover .social a {
    color:#fff;
}
.team .thumbnail .mask {
    background: #FECE1A;
}
.team .thumbnail .mask h2 {
    margin-top:20%;
}
.team .thumbnail .mask, .team .thumbnail .mask h3, .team .thumbnail .mask p, .team .thumbnail:hover h3, .team .thumbnail:hover .social a:hover {
    color:#181A17;
}
.about-text {
    margin-top:30px;
}
.about-text p {
    padding:0;
    font-size:16px;
}
/*********************************************************************
                        SKILLS BAR
*********************************************************************/
 .skills {
    list-style-type: none;
    position: relative;
    margin:0px;
}
.skills li {
    margin-bottom:30px;
    background:#FFF;
    height:40px;
    padding:1px;
}
.skills li h3 {
    position: relative;
    font-size: 15px;
    padding:0;
    margin:0;
    left: 10px;
    z-index: 1;
    color: #181A1C;
}
.skills li .bar {
    height:40px;
    position:absolute;
    background-color: #FECE1A;
}
/*
3.4 Clients
**********************************************************************/
 .client-slider img {
    border:1px solid white;
}
.client-slider img:hover {
    background-color:#FECE1A;
}
.client-nav {
    list-style:none;
    margin-top:10px;
}
.client-nav li {
    float:left;
    display:block;
    margin-left:10px;
}
.client-nav li a {
    display:inherit;
    padding:5px;
    background:#FECE1A;
    border-radius:3px;
    width:20px;
    height:20px;
}
.client-nav li a:hover {
    background:#181A1C;
}
.testimonial p {
    color:#181A1C;
    background:#FECE1A;
    padding:15px;
    margin:0;
}
.testimonial .arrow {
    margin-left:10px;
    width:0;
    border-top:10px solid #FECE1A;
    border-left: 20px outset transparent;
    border-right: 20px outset transparent;
}
.testimonial .whopic {
    display:inline-block;
}
.testimonial .whopic img {
    margin-top:10px;
    width:50px;
    height:50px;
    float:left;
}
.testimonial .whopic strong {
    float:left;
    margin-top:10px;
    padding-left:10px;
}
.testimonial .whopic small {
    display:block;
    font-size:12px;
    
}
.testimonial-text{
    display:block;
    font-size:22px;
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    width:70%;
    line-height:1.3em;
}
/*
3.5 Price table
******************************************************************/
 .price-table {
    margin-top: 70px;
    margin-bottom: 20px;
}
.price-column {
    background-color:white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-bottom:20px;
    margin:0 auto;
    text-align:center;
}
.price-column h3 {
    background-color:#181A1C;
    text-transform:uppercase;
    text-align: center;
    color:#FECE1A;
    padding:40px 0px;
    font-size: 36px;
    margin-top:0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
.price-column .list{
    list-style:none;
    margin:20px 50px;
}
.price-column .list li{
    font-weight:lighter;
    color:#747C89;
    font-size:20px;
    border-bottom:1px solid #747C89;
    padding:25px 0px;
}
.price-column .list li.price {
    text-align: center;
    font-size:31px;
    background-color:white;
    color:#747C89;
    margin-top:25px;
}
.price-text{
    margin:30px 0 20px;
    font-size:20px;
    color: #181A1C;
    font-weight:normal;
}
/*
3.6 Newsletter
********************************************************************/
 .newsletter, .newsletter h2 {
    color: #D7DDDE;
}
.newsletter .title h2 {
    text-align:left;
    padding:0;
    margin:0;
}
.newsletter form {
    text-align:right;
}
.newsletter input {
    margin-top:10px;
    padding:15px;
    height: auto;
}
.newsletter button {
    margin: 0 0 0 20px;
}
.newsletter .button-sp:hover, .newsletter .button-sp:active {
    background-color:#FFF;
    color:#181A1C;
}

/*
3.7 Contact
********************************************************************/
 .contact {
    background: #FECE1A;
}
.contact h1, .contact h2, .contact h3, .contact h4, .contact h5, .contact h6, .contact .section .title > p, .contact .social > li > a {
    color: #181A1C;
}
.contact textarea, .contact input[type="text"], .contact input[type="email"] {
    padding: 10px;
    line-height: 20px;
    height: auto;
}
.contact textarea {
    height: 120px;
}
.contacts, .contact .social {
    color: #fff;
    list-style: none;
    margin-left: 10px;
}
.contacts > li {
    margin-top: 15px;
}
.contacts > li > a {
    color: #fff;
}
.contact-info {
    margin-top:10px;
    margin-bottom:10px;
}
.contact-info p{
     font-weight:normal;
}
.contact-info .icon {
    margin:10px auto;
    font-size:30px;
}
.map-wrapper {
    position:relative;
    height:500px;
}
.map-canvas {
    position:absolute;
    margin-bottom:20px;
    width:100%;
    height:500px;
    color: #29383F;
    position:absolute;
    left:0;
    top:0;
    right:0;
}
.contact .social {
    display: inline-block;
    margin-left:0;
}
.contact .social li {
    line-height: 32px;
    padding:10px 10px;
    font-family:'Porta';
    font-size: 50px;
    transition: margin 0.4s;
    -webkit-transition: margin 0.4s;
}
.contact .social li a {
    color:#fff;
}
.contact .social li a:hover {
    color:#181A1C;
}
.contact-form {
    background:#fff;
    background: rgba(255, 255, 255, 0.9);
    z-index:110;
    position:relative;
    margin-top:-25px;
    padding:20px;
}
.contact-form h3 {
    color:#838589;
    padding-bottom:20px;
}
.message-btn {
    border:1px solid #747C89;
    color:#747C89;
    background-color:transparent;
    padding:15px 30px;
    font-size:17px;
}
.message-btn:hover {
    background-color:#FECE1A;
}
.contact-info {
    text-align:center;
    font-size:22px;
}
.info-mail {
    border:1px solid white;
    width:60%;
    margin:0 auto;
    padding:15px;
    color:#181A1C;
}
.black {
    color:#181A1C;
}
/*
3.8 Footer
********************************************************************/
 .footer {
    background: #fff;
    text-align: center;
}
.footer > p {
    color: #000;
    margin:0;
}
.scrollup {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #000;
    border-radius: 5px;
    bottom: 30px;
    cursor: pointer;
    display: none;
    font-size: 20px;
    height: 39px;
    position: fixed;
    right: 20px;
    text-align: center;
    vertical-align: middle;
    width: 39px;
}
.scrollup > a {
    position:relative;
    top:7px;
    color:#0397d6;
}
/*
4 Responsible
********************************************************************/
 @media (min-width: 1200px) {
    .thumbnail .more {
        margin-left:-41px;
        width:80px;
        height:80px;
        border-radius:40px;
        line-height: 80px;
    }
}
@media (max-width: 979px) {
    body {
        padding-left:0;
        padding-right:0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }
    .navbar .nav > li > a {
        line-height: 20px;
        vertical-align: middle;
    }
    .section {
        padding-left:20px;
        padding-right:20px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-collapse {
        clear: both;
    }
    .nav-collapse .nav {
        float: none;
        margin: 0 0 10px;
    }
    .nav-collapse .nav > li {
        float: none;
    }
    .nav-collapse, .nav-collapse.collapse {
        width: 100%;
        display: inherit;
    }
    .thumbnail .more {
        margin-left:-21px;
        width:40px;
        height:40px;
        border-radius:30px;
        line-height: 40px;
    }
    .thumbnail:hover .more {
        margin-top:-20px;
    }
    .newsletter form {
        text-align:center;
    }
}
@media (max-width: 767px) {
    .info-mail {
        width:90%;
        padding:15px 0px;
    }
    .project-description {
        padding-left:20px;
    }
    .price-column, .testimonial {
        margin-top:30px;
    }
}


.button2, .button2:visited, .button2:focus {
    background-color: transparent;
    border: 2px solid #0397d6;
    color: #181a1c;
    display: inline-block;
    font-size: 15px;
    margin-top: 15px;
    padding: 10px 20px;
}

.highlighted-box2 {
    background:transparent;
    padding: 20px 0px 20px 30px;
}


.primary-section2 {
    background: rgba(0, 0, 0, 0) url("../images/bg-3.jpg") repeat scroll 0 90px;
}


.highlighted-box-video {
    background: #f4f8f9 none repeat scroll 0 0;
    padding: 14px 15px 10px;
}
.button3, .button3:visited, .button3:focus {
    background-color: transparent;
    border: 2px solid #fff;
    color: #181a1c;
    display: inline-block;
    font-size: 15px;
    margin-top: 325px;
    padding: 10px 20px;
    vertical-align: bottom;
}
.highlighted-box2 h1 {
    color: #181a1c !important;
    font-family: "hp_simplified_lightregular";
    line-height: 44px;
    padding: 20px 0 0;
    text-align: justify;
}

.secondary-section h1, .secondary-section .title p {
    color: #fff;
}

.section .title > p {
    color: #fff !important;
    font-family: "hp_simplified_lightregular";
    font-size: 15px;
    line-height: 23px;
    padding: 5px 0 0;
    text-align: justify;
}


.footer p a {
    color: #000;
    text-decoration: none;
}


.navbar .nav .free-clip {
    box-shadow: none;
    color: #e4f7ff;
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
    padding: 10px 0 0 65px;
    text-align: right;
    text-shadow: none;
    text-transform: none;
    transition: border-color 1s ease 0s;
    vertical-align: middle;
}


.free-clip h3 {
    color: #fff;
    font: bold 18px "hp_simplifiedregular";
    margin: 0;
}

.align-c {
    padding-top: 15px;
    text-align: left; color: #000;
}

.menu-ftr .nav {
    font: 14px "hp_simplifiedregular";
    list-style: outside none none;
    margin-left: 0;
    padding: 20px 0 0;
}


.menu-ftr ul > li {
    display: inline-block;
    margin-left: 0;
    margin-top: 15px;
    padding-top: 0;
}


.menu-ftr ul > li a {
    border-right: 1px solid #ccc;
    color: #181a1c;
    font: 14px hp_simplifiedregular;
    padding: 0px 12px 0;
    text-decoration: none;
}


 .menu-ftr ul > li .bdr {
    border-right: 0px solid #ccc;
}

.secondary-section34 {
    background: #d2eaf2 none repeat scroll 0 0;
    color: #000;
}

.secondary-section34 p {
    color: #222;
    font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

.secondary-section34 h2 {
    color: #222;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.section .pd-sp{padding: 0px;}

.pd-sp{padding: 0 0 20px;}



.section-t ul {
      list-style: outside none none;
    margin: 5px 0 0;
    padding: 0;
}


.section-t ul li {
      border-bottom: 1px solid #cfdce3;
    color: #000;
    display: list-item;
    font-family: "hp_simplified_lightregular";
    list-style: inside none square;
    padding: 7px 0;
    text-align: justify;
}

.primary-section h6 {
        color: #000;
    font: bold 16px hp_simplifiedregular;
    margin: 20px 0 0;
    padding: 0;
    text-align: left;
}


@media (max-width: 767px) {
    .align-c {
    color: #000;
    padding-top: 15px;
    text-align: center;
}
.secondary-section34 p {
    padding: 0 20px;
}
.secondary-section34 h2 {
    color: #222;
    font: bold 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 0 0 20px;
}
.primary-section h1 {
    color: #fff;
    font: 28px "hp_simplifiedregular";
    text-align: center;
}
.secondary-section2 {
    background: #e9f8ff none repeat scroll 0 0;
}
.nav-collapse .nav > li {
    float: none;
    text-align: center;
}
.navbar .nav .free-clip {
    box-shadow: none;
    color: #e4f7ff;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
    padding: 10px 0 0;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    transition: border-color 1s ease 0s;
    vertical-align: middle;
}
.navbar .nav > li > a {
    margin: 0;
}
}

.ub h6 {
    color: #000;
    font: bold 16px hp_simplifiedregular;
    margin: 20px 0 0;
    padding: 0;
    text-align: left;
}

.hb .triangle {
    border-top: 40px solid #e9f7ff;
}
.strg {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
}